/* css */

body {
	font-family: sans-serif;
	margin:0;
	font-size: 100%;
}

img {
	width: 100%;
	max-width: 15em;
	height: auto;
    border-radius: 7px;
}


/* centered content */

.outer-container {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

.inner-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.centered-content {
	display: inline-block;
	text-align: left;
	background: #fff;
	padding: 20px;
	width: 30%;
	max-width: 15em;
}

/* mobile */
@media only screen and (max-width: 769px) {
	body {
		font-family: sans-serif;
		margin:0;
		font-size: 110%;
	}
	
	a:link, a:visited {
		background-color: #aaa;
		color: white;
		padding: .5em .5em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
	}

	.centered-content {
		display: inline-block;
		text-align: left;
		background: #fff;
		padding: 1em;
		width: 90%;
		max-width: 15em;
	}
}